*{
    margin:0;
    padding:0;
}

.button{
 display: inline-block;

}
body{
    text-align: center;
    padding:20px;
}


.btn{
    margin:10px;
    padding:3px 7px;
    background-color: #1DA1F2;
    color: white;
    border-radius: 5px;
}

.newpost{
    margin:20px 0;
}

p{

}



